


//-----Color
$primary-color:         	#ffffff;
$brand-color:				#fad027;
$dark:				        #1b1d22;



//-----Typography




//---- font family ----	

$muli:                  'Muli', sans-serif;


//----p style----	
		
$p-font-size:				18px;
$p-line-height:				26px;
$p-font-weight:				normal;
$p-font-family:				'Muli', sans-serif;
$p-font-color:              #646c84;

//----a style----	
		
$a-text-decuration:			none;
$a-color:					inherit;

//----a-hover style----	
		
$a-hover-color:				inherit;